html {
  background-color: #23252C;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  font-family: Inter;
  color: white;
}

.app {
  background-color: #1A1B21;
  border-radius: 10px;
}

